.footer{
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    width: 100%;
    background-color: rgb(19, 19, 19);
    padding-left: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 20px;
}


.info__block{
    display:  flex;
    gap: 30px;

}
.footer__title{
    max-width: 250px;
}
.footer__title h1{
    color: white;
}
.info__block p{
    max-width: 350px;
    color: white;
}
.footer{
    margin-top: 70px;
}